@page "/login"
@layout PublicLayout

@if (ShowAuthError)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                    </div>
                    <EditForm class="user" OnValidSubmit="OnSubmit" Model="loginRequest">
                        <DataAnnotationsValidator />
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <InputText id="email" class="form-control form-control-user" @bind-Value="loginRequest.Email" autofocus placeholder="Username" />
                            <ValidationMessage For="@(() => loginRequest.Email)" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <InputText type="password" id="password" class="form-control form-control-user" placeholder="Password" @bind-Value="loginRequest.Password" />
                            <ValidationMessage For="@(() => loginRequest.Password)" class="text-danger" />
                        </div>
                        <button class="btn btn-lg btn-primary btn-block btn-user" type="submit">Sign in</button>
                    </EditForm>
                    <hr>
                    <a href="javascript:void(0)" class="btn btn-google btn-user btn-block">
                        <i class="fab fa-google fa-fw"></i> Login with Google
                    </a>
                    <a href="javascript:void(0)" class="btn btn-facebook btn-user btn-block">
                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                    </a>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="javascript:void(0)">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="javascript:void(0)">Create an Account!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Inject]
    private NavigationManager _navigationManager { get; set; }

    [Inject]
    private IAuthService _authService { get; set; }

    public bool ShowAuthError { get; set; } = false;

    public string Error { get; set; }

    private LoginRequest loginRequest { get; set; } = new();

    async Task OnSubmit()
    {
        var result = await _authService.Login(loginRequest);

        if (result is not null)
        {
            _navigationManager.NavigateTo("/");
        }
        else
        {
            ShowAuthError = true;
            Error = "Invalid username or password";
        }
    }
}